

    <!-- Header Content -->


 
          <div class="large-6 columns">
            <div class="panel">

          <div class="row">

            <div class="large-8.columns blogi">


              <% for blog in @blogs %>
              
                <p><span class="label"><strong class="ime">&#8594;</strong>&nbsp;<%= blog.Name %></span><p>
                
                <div class="panel blogs">
                <img src="assets/blog/news.png" alt="news novice"><p>
                
                <%= truncate(strip_tags(blog.subject),length: 200) %></p>
                <%= link_to 'Beri dalje', blog, class: "ime1"  %>
                <p class="datum"><%= blog.created_at.strftime('%I:%M %b %d, %Y') %></p>
                </div>
                <hr>
           
              <% end %>
            <%= link_to 'New Blog', new_blog_path %>
 <%= link_to 'NOVICE', blogs_path %>
            </div>
          </div>      



             

      
      <!-- End Thumbnails -->
